/* Additional Styles for Login Pages (User/Admin) */
/* Style Login */

div#content h1{
  color: var(--black);
}

div#content div.loginContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 25px;
  background-color: var(--lightGreen);
}

div#content div.loginContainer form {
  display: flex;
  flex-direction: column;
}

div#content div.loginContainer form h2 {
  margin-bottom: 25px;
  text-align: center;
}

div#content div.loginContainer table {
  display: flex;
  justify-content: center;
}

div#content div.loginContainer form table tbody tr {
  height: 35px;
  margin-bottom: 25px;
}

div#content div.loginContainer form table tbody tr th {
  font-size: 20px;
  padding-right: 25px;
}

div#content div.loginContainer form table tbody tr td input {
  text-indent: 5px;
  height: 20px;
  border-radius: 25px;
}

div#content div.loginContainer form input#submitButton {
  margin-top: 15px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
  align-self: center;
  font-weight: bold;
  color: var(--black);
  background-color: var(--yellow);
  transition: 0.2s;
}

div#content div.loginContainer form input#submitButton:hover {
  cursor: pointer;
  color: var(--white);
}

div#content div.loginContainer div#clearForm{
  margin: -15px;
}

/* Style for Nav  */
div.navContainer {
  width: fit-content;
  align-self: center;
  margin-top: 25px;
  padding: 10px;
  display: flex;
  border: solid;
  border-radius: 25px;
  background-color: var(--lightGreen);
}

div.navContainer nav {
  justify-self: center;
}

div.navContainer nav a {
  color: var(--black);
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  user-select: none;
  margin: 10px;
  transition: 0.2s;
}

div.navContainer nav a:hover {
    color: var(--white);
    cursor: pointer;
  }